<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Administrador de empleados</title>

  <!-- BOOTSTRAP -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- ANGULAR JS-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

  <style>
  h1 {
    font-size: 30px;
  }
  body {
    font-family: Arial;
    font-size: 15px;
    background-color:#FCFCFC;
  }
  .formulario {
    padding-top: 1em;
    padding-left: 1.5em;
  }
  #resultado {
    padding: 0.5em;
    font-weight: bold;
    background-color: #CEF0FF;
  }
  </style>
</head>

<body>
  <div class="container"> <!--style="height: 70%;"-->

    <!--TITULO  http://getbootstrap.com/components/#page-header -->
    <div class="page-header">
      <h1>
        <span class="glyphicon glyphicon-user"></span>
        Administrador de empleados <small>Pedro Manuel Gómez-Portillo y José Antonio Martínez</small>
      </h1>
    </div>

    <!-- DISEÑO DE LAS PESTAÑAS-->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#anadir-empleados">Añadir empleados</a></li>
      <li><a data-toggle="tab" href="#ver-empleados">Ver empleados</a></li>
    </ul>

    <!-- CONTENIDO DE LAS PESTAÑAS-->
    <div class="tab-content">
      <div id="anadir-empleados" class="tab-pane fade in active">
        <h3>Añadir empleados</h3>

        <div class="formulario" ng-app = "miApp" ng-controller = "miCtrl">
          <div class="col-md-6">
            <label>Nombre</label>
            <br>
            <input type="text" class="form-control" ng-model="empleado.nombre">
            <br>

            <label>Estado civil</label>
            <select class="form-control" ng-model="empleado.estado">
              <option value="" disabled>Seleccione una opción</option>
              <option>Casado</option>
              <option>Soltero</option>
              <option>Divorciado</option>
            </select>
            <br>

            <input type="checkbox" ng-model="empleado.disponible">
            <label>Disponible</label>
            <br>

            <button type="button" class="btn btn-default" ng-click="addEmpleado()">
              Añadir empleado
            </button>
          </div>

          <div class="col-md-6">
            <div id="resultado">
              <p>Resultado: {{empleado}}</p>
            </div>
          </div>
        </div>
      </div>

      <div id="ver-empleados" class="tab-pane fade">
        <h3>Ver empleados</h3>
        <table class="table table-hover">
          <tr>
            <th>Nombre</th>
            <th>Estado civil</th>
            <th>Disponible</th>
          </tr>
          <tbody>
            <!-- Aqui irán las filas que añadamos -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- SCRIPT DE ANGULARJS -->
  <script>
  var mainApp = angular.module("miApp", []);
  mainApp.controller('miCtrl', function($scope) {
    $scope.addEmpleado = function() {
      var nueva_fila= '<tr><td>' + $scope.empleado.nombre +
      '</td><td>'+ $scope.empleado.estado +
      '</td><td>'+ $scope.empleado.disponible +
      '</td></tr>'
      $('#tabla-empleados > tbody:last-child').append(nueva_fila);
    }
  });
  </script>
</body>
</html>
