<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Administración de empleados</title>

  <!-- BOOTSTRAP -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- ANGULAR JS-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

  <style>
  #resultado {
    background-color: lightblue;
    font-weight: bold;
  }
  </style>
</head>

<body>
  <div class="container">

    <div class="page-header">
      <h1>
        <span class="glyphicon glyphicon-user"></span>
        Administración de empleados <small>Procesos de IS</small>
      </h1>
    </div>
    <div id="formulario" ng-app="miApp" ng-controller="miCtrl">
      <h3>Añadir empleado</h3>
      <div class="col-md-6">

        <label>Nombre</label>
        <input type="text" class="form-control" ng-model="empleado.nombre">

        <br>

        <label>Estado civil</label>
        <select class="form-control" ng-model="empleado.estado">
          <option>Casado</option>
          <option>Soltero</option>
          <option>Divorciado</option>
        </select>

        <br>

        <input type="checkbox" ng-model="empleado.disponible">
        <label>Disponible</label>

        <br>
        <button class="btn btn-default" ng-click="addEmpleado()">
          Añadir a tabla
        </button>
      </div>

      <div class="col-md-6" id="resultado">
        <p>Resultado: {{empleado}}</p>
      </div>
    </div>

    <div id="tabla" class="col-md-12">
      <h3>Ver empleados</h3>
      <table class="table table-hover" id="tabla-empleados">
        <thead>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Disponible</th>
        </thead>
        <tbody>
          <!--Aquí es donde iran los empleamos que añadamos-->
        </tbody>
      </table>
    </div>
  </div>


  <script>
  var miApp = angular.module("miApp", []);
  miApp.controller("miCtrl", function($scope) {
    $scope.addEmpleado = function() {
      var nueva_fila = '<tr><td>' + $scope.empleado.nombre + '</td>'+
                      '<td>'+ $scope.empleado.estado + '</td>'+
                      '<td>'+ $scope.empleado.disponible + '</td>' +
                      '</tr>';

      jQuery("#tabla-empleados > tbody:last-child").append(nueva_fila);
    };
  });
  </script>
</body>
</html>
